---
import { Play } from '@/components/icons'

interface Props {
  topText?: string
  buttonText?: string
  buttonHref?: string
  bottomText?: string
  dataGtmEvent?: string
  showIcon?: boolean
}

const {
  topText = 'Transparente Kosten, klare Abläufe - ohne Überraschungen.',
  buttonText = 'Kostenloses Angebot anfordern',
  buttonHref = '/anfrage/',
  bottomText = 'Wir melden uns diskret bei Ihnen.',
  dataGtmEvent = 'cta-click',
  showIcon = true,
} = Astro.props
---

<div class="cta-block mt-8 text-center">
  {topText && (
    <div class="text-sm sm:text-lg mb-2">
      {topText}
    </div>
  )}
  <a
    href={buttonHref}
    data-cta={dataGtmEvent}
    class="cta-secondary w-full lg:w-fit inline-flex items-center justify-center gap-2 text-sm sm:text-base border border-outline rounded-lg sm:rounded-xl px-5 py-2.5 sm:py-2"
  >
    <span>{buttonText}</span>
    {showIcon && (
      <>
        <Play class="hidden md:block" size="lg" aria-hidden={true} />
        <Play class="md:hidden" size="sm" aria-hidden={true} />
      </>
    )}
  </a>
  {bottomText && (
    <div class="text-sm sm:text-lg mt-2">
      {bottomText}
    </div>
  )}
</div>
